.card {
  p{
    word-break: break-word;
  }
  padding: 1.5rem;
  page-break-inside: avoid;
  background: #fff;
  border-radius: 12px;
  margin-block: 1rem;
  position: relative;

  button:not(:first-of-type) {
    margin-left: 10px;
  }

  &.list_card {
    font-size: 0.9rem;
  }

}

.card_group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-block: 1.5rem;

  label {
    font-weight: 600;
  }

  & > div > div,
  img {
    margin-top: 1.5rem;
  }

  input {
    margin-block: 0.5rem 0.25rem;
    margin-right: 0.75rem;
  }
}

.list_items_holder {
  & > * {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.row {
  margin-block: 1rem;
  display: flex;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  .position_name {
    margin-top: 0.5rem;
  }

  .index {
    font-size: 3rem;
    color: #ccc;
    font-weight: 300;
  }
}

.position_description {
  width: 80%;
}



.position_names_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block: 2rem;

  & > * > :nth-child(2) {
    margin-top: 10px;
  }
}

.langs_and_tech {
  background: #fff;
  padding: 1rem 2rem;
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  border-radius: 12px;
  page-break-inside: avoid;
  position: relative;

  h4 {
    font-size: 1rem;
  }

  .heading {
    margin-top: 1.5rem;
  }

  .language {
    color: var(--red);
  }

  .language_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-block: 1rem;
  }

  .language_tags {
    display: flex;

    align-items: center;
    gap: 10px;
    margin-left: 10px;
  }
}

.position_technology_stack {
  margin-block: 2.5rem 1rem;
}

.position_description {
  margin-top: 24px;
}

.project_card {
  background: linear-gradient(135.84deg, #f5f5f5 21.92%, #ffffff 89.46%);

  .project_header {
    display: flex;
    justify-content: space-between;

    h4 {
      text-align: right;
    }

    h5 {
      font-size: 0.9rem;
      margin-top: 5px;
    }
  }

  .project_name {
    display: flex;
    gap: 10px;
  }

  .project_icon {
    width: 25px;
    height: 25px;
  }

  main {
    margin-block: 1.5rem;
  }

  .references {
    h4 {
      margin-block: 1.8rem 1rem;
    }
  }
}

@media print {
  .card,
  .langs_and_tech {
    z-index: 3;
  }
}
