.cv_wrapper {
  position: relative;
}

.cv_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 1rem;
  border-radius: 8px;

  & > * {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @media print {
    background-color: transparent;
  }

  .img_wrapper {
    position: relative;
    margin-right: 30px;
    .cv_picture {
      position: absolute;
      inset: 0;
      transform: translate(-20%, -20%);
    }

    @media print {
      margin-right: 0;
    }
  }
}

.cvs_holder {
  display: table;
  width: 100%;
  margin-block: 3rem;
  // background-color: #e22121;
  border-radius: 12px;
  border-collapse: collapse;
  table-layout: fixed;

  tbody {
    width: 100%;
  }

  th {
    text-align: left;
    padding-block: 20px;
    user-select: none;

    svg {
      position: relative;
      top: 5px;
    }
  }

  td {
    padding-block: 1rem;
    display: table-cell;

    &.actions_holder {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      & > div {
        display: flex;
        align-items: center;

        gap: 5px;
      }
    }
  }

  tr:nth-of-type(even) {
    td {
      background: rgb(131, 92, 92);
      color: #fff;
    }
  }
  tr:nth-of-type(odd) {
    td {
      background: rgb(238, 187, 187);
      color: #fff;
    }
  }

  tr > :first-child {
    padding-left: 15px;
  }

  tr:last-child {
    td:first-child {
      border-bottom-left-radius: 12px;
    }

    td:last-child {
      border-bottom-right-radius: 12px;
    }
  }
}

.cv_card {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  position: relative;

  .img_holder {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cv_name {
    font-weight: 600;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
  }

  &:hover,
  &.active {
    .icons {
      display: flex;
    }
  }

  .icons {
    position: absolute;
    right: 10px;
    display: none;
    gap: 15px;
    & > * {
      width: 25px;
      height: 25px;
    }
  }
}
.img {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.create_holder {
  margin-top: 20px;
  display: flex;
  gap: 20px;

  input {
    flex-grow: 0.6;
  }

  button {
    flex-grow: 0.4;
  }
}

.logo {
  width: 80px;
}

.waves {
  position: fixed;
  left: -100px;
  bottom: 0;
  z-index: -1;
}

@media print {
  .waves {
    z-index: 1;
  }
}

.edno_cv {
  width: 100%;
  background-color: #fff;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom: 1px black;
}
