.list_items_holder {
  & > * {
    display: block;
    max-width: max-content;
    margin-bottom: 10px;
  }

  &.flowing {
    column-count: 4;
  }

  &.fixed {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
  }
}
