:root {
  --red: #e40521;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-break: break-all;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#f7f7f7, #e4d1d1, #e6c4c2);
  background-size: 100% 100%;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: var(--red);
}

h2,
h3,
h4 {
  font-weight: 600;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
  margin-block: 0.8rem;
}

button {
  --clr: var(--red);
  cursor: pointer;
  border-radius: 8px;
  border: 0;
  background: var(--clr);
  color: #fff;
  border: 1px solid var(--clr);
  padding: 0.5rem 1.25rem;
  font-size: 18px;
  transition: 0.2s background ease-in-out;

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    --clr: gray;
  }
}

.react-datepicker__input-container {
  width: unset !important;
}

.react-datepicker__close-icon::after {
  background: var(--red) !important;
  vertical-align: unset;
  padding: 3px;
}

input,
textarea {
  border: 1px solid var(--red);
  padding: 8px;

  border-radius: 8px;
  resize: none;
  font-family: inherit;
  font-size: 1rem;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
  }

  [type="date"] {
    user-select: none;
  }
}

.checkbox-wrapper {
  label {
    display: inline-block;
    user-select: none;
  }
}

label {
  display: block;
}

.container {
  max-width: 1600px;
  width: 85%;
  margin-inline: auto;
}

.column-name {
  color: var(--red);
  font-weight: 700;
  font-size: 0.9rem;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.tag {
  color: #2d2e2d;
  background: #d8d8d8;
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 8px;
  font-weight: 500;
  user-select: none;
  font-size: 0.7rem;
}

.lucide {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media print {
  html {
    background: #e6c4c2;
  }

  html,
  body {
    max-width: 100vw;

    min-height: 100vh;
  }

  .container {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }

  .no-print {
    display: none;
  }
}

.mb-05 {
  margin-bottom: 8px;
}
.mt-1 {
  margin-top: 16px;
}

.mb-1 {
  margin-bottom: 16px;
}

.mr-1 {
  margin-right: 16px;
}

.my-1 {
  margin-block: 16px;
}

.hidden {
  display: none;
}

textarea {
  height: 150px;
  width: 100%;
}

@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: 8px * $i;
  }

  .ml-#{$i} {
    margin-left: 8px * $i;
  }

  .mr-#{$i} {
    margin-right: 8px * $i;
  }

  .mb-#{$i} {
    margin-bottom: 8px * $i;
  }

  .m-#{$i} {
    margin: 8px * $i;
  }

  .my-#{$i} {
    margin-block: 8px * $i;
  }

  .mx-#{$i} {
    margin-inline: 8px * $i;
  }
}

.project {
  page-break-inside: avoid;

}

