.markdown {
  img {
    max-width: 100%;
  }

  ul,
  ol {
    padding-left: 20px;
  }
}

.markdown_button {
  padding: 6px 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
}