.no_cv_buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.create_holder {
  margin-top: 20px;
  display: flex;
  gap: 20px;

  input {
    flex-grow: 0.6;
  }

  button {
    flex-grow: 0.4;
  }
}
